<ul>
<li><%= link_to "Main Page", controller: "/main" %></li>
<li><%= link_to "Dashboard", controller: "dashboard" %></li>
<li><%= link_to "Trees", controller: "trees" %></li>
<li><%= link_to "Users", controller: "users" %></li>
</ul>