
<div id="trees_actions" class="actions">
	<div class="action_tag">
		<%= link_to "List", controller: "trees" %>
	</div>
	<div class="action_tag">
		<%= link_to image_tag("add-icon.png") + "Add", controller: "trees", action: "new" %>
	</div>
	<div class="action_tag">
		<%= link_to "Import", controller: "trees", action:"import" %>
	</div>
</div>