
<div id="trees_actions" class="actions">
<%= link_to "List", controller: "trees" %>
<%= link_to "Add", controller: "trees", action: "new" %>
<%= link_to "Import", controller: "trees", action:"import" %>
</div>