
<% content_for :head do %>
<script type="text/javascript">
	function onFileInputChange(evt){
		// Retrieve a File object
		var reader = new FileReader();
		var f = GetFileObject();
		r.readAsText(f);
		
		FileReader.onload = function(e){
			//var contents = e.target.result;
			//Parse the text to determine it's format
			
			alert( "Got the file : " +f.name );
		};
		
	}
	function onFileFormatChange(evt){
	}
	
	function validateSelectedFile(){
	}
	
	function GetSelectedFormat(){
		var selectedFormat = document.getElementById("fileformat").value;
		return selectedFormat;
	}
	
	function GetFileObject(){
		var selectedFile = document.getElementById("fileinput").files[0];
		return selectedFile;
	}
	
	window.onload = function (){
		document.getElementById('fileinput').addEventListener('change', onFileInputChange, false);
		document.getElementById('fileformat').addEventListener('change', onFileFormatChange, false);
	};
</script>
<% end %>

<%= render "admin/sidebar" %>
<!-- Import Trees Button -->
<input type="file" id="fileinput" />
<select id="fileformat">
  <option value="ottawa">City of Ottawa</option>
  <option value="RVCA">RVCA</option>
  <option value="NCC">NCC</option>
</select>
<!-- Add New Tree Button -->

<!-- Paginated list of records -->
